@blu-space: 40px;

@blu-padding-extra-spaced = @blu-space
@blu-padding-spaced       = @blu-space / 2
@blu-padding-default      = @blu-space / 3
@blu-padding-narrow       = @blu-space / 6

@blu-border: 1px solid #333;
@blu-border-radius: 2px;

@blu-font-base: 16px;
@blu-font-family: Helvetica,Arial,Sans-Serif;

@blu-line-height-base: 1.5;
@blu-line-height-header: 1.2;
