.Form {
  .display(flex);
  .flex-direction(column);

  color: #3c3d3e;
}

.Form-fieldset {
  border: 1px solid @blu-gray-light;
  padding: @blu-space;
}

.Form-legend {
  font-size: @blu-font-small;
  font-weight: @blu-font-weight-bold;
}

.Form-field {
  .display(flex);
  .flex-direction(column);

  margin-bottom: @blu-padding-spaced;
}

.Form-field--actions {
   &:extend(.Form-field);
}

.Form-label {
  .display(flex);

  margin-bottom: @blu-padding-narrow;

  font-size: @blu-font-small;
  font-weight: @blu-font-weight-bold;
}

.Form-input {
  .display(flex);

  border: @blu-border;
  border-radius: @blu-border-radius;
  padding: @blu-padding-default;

  -webkit-appearance: none;

  &:focus {
    border-color: #C9C9C9;
    outline: none;
    transition: all .2s ease-in;
  }

  &:disabled {
    /* background-color: lighten(@gray-lighter, 80%); */
    cursor: not-allowed;
  }

  &:required:focus {
  }

  &.input-invalid {
    /* border: 1px solid @red-light; */
    /* color: lighten(@red, 50%); */

    &:focus {
      /* border: 1px solid @red; */
    }
  }
}
